@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
:root {
    --primary-clr:#F21D2F;
    --secondary-clr: #F2E313;
    --black-clr:#0D1826;
    --black-clr:#111;
    --white-clr:#FFFFFF;
    --yellow-first-shade:#F2C438;
    --yellow-second-shade:#F2B33D;
}

body{
    top: 0 !important;
    position: static !important;
    /* background: var(--black-clr); */
}

.red-bg{
    background-color: var(--primary-clr);
}

.black-bg{
    background-color: var(--black-clr);
}

.gradient{
    background-image: linear-gradient(to bottom, #f21d2f, #f85921, #f98118, #f7a41f, #f2c438);
}

.txt-shadow{
    text-shadow: 3px 0px 7px rgba(0,0,0,0.8), 
    -3px 0px 7px rgba(0,0,0,0.8), 
    0px 4px 7px rgba(0,0,0,0.8);
}

/* .gradient-text{
    background-image: linear-gradient(to bottom, #f21d2f, #f85921, #f98118, #f7a41f, #f2c438);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.primary-text-clr{
    color: var(--primary-clr);
}

.secondary-text-clr{
    color: var(--yellow-first-shade);
}

.white-txt{
    color: var(--white-clr);
}

.black-txt{
    columns: var(--black-clr);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.flex{
    display: flex;
}

.flex-c{
    display: flex;
    flex-direction: column;
}


/* preloader styling  */
#preloader{
    background: var(--black-clr);
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100%;
    transition: 0.5s all ease;
    top: 0;
}

.load{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100px;
    height:100px;
    z-index: 100;
  }
  .load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
  
  .load :first-child{background:var(--primary-clr);animation-delay:-1.5s}
  .load :nth-child(2){background:var(--secondary-clr);animation-delay:-1s}
  .load :nth-child(3){background:#144982;animation-delay:-0.5s}
  .load :last-child{background:#fff}
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }

#logo{
    position: absolute;
    top: 18px;
    z-index: 90;
    border-radius: 100%;
}

header{
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow-first-shade);
    padding: 0 0.5rem;
}
#language{
    font-weight: 500;
    font-size: 1rem;
}
nav{
    height: 70px;
}
     
.navbar-custom {
    background-color: var(--black-clr) !important;
}
         
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--white-clr);
}

.nav-link{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 7.5px 16px !important;
    margin-right: 3px;
    font-size: 13px;
    color: var(--white-clr) !important;
    border-radius: 7px;
    transition: 0.75s;
}

.nav-link:hover, .nav-link:focus {
    color: rgba(255, 255, 255, 0.7) !important;
}

.dropdown-menu{
    top:51px;
    background-color: rgba(13, 24, 38,0.98);
}
.dropdown-item{
    text-transform: uppercase;
    color: var(--white-clr);
    font-size: 13px;
}
.dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-clr);
}

.carousel-item {
    overflow: hidden;
    background: red;
    max-height: calc(100vh - 110px);
    text-align: center;
}

.carousel-img{
    position: relative;
    top: -250px;
    width: 100%;
    height: auto; 
}

.carousel-indicators{
    bottom: 100px;
}

#about{
    position: relative;
}

#about:after{
    content: '';
    background-color: #f7f7f4;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.about-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#hero{
    position: absolute;
    top: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 0;
}

.hero{
    max-height: 100px;
    padding: 0 1rem;
    font-weight: 600;
}

.left-hero{
    font-size: 20px;
    line-height: 1.8;
    text-align: right;
    color: var(--yellow-second-shade);
}

.right-hero{
    text-align: left;
    color: var(--primary-clr);
}

.skiptranslate{
    display: none;
}

.section-flex{
    display: flex;
}

#eventsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.events-card{
    margin: 1rem;
}

figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 467px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}
figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
figure:hover img {
    transform: scale(1.05);
}
figure:hover figcaption {
    bottom: 0;
}
figure h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
}
figure img {
    height: 100%;
    transition: 0.25s;
}
figure figcaption {
    position: absolute;
    bottom: -295px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
}
figure figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
}
figure figcaption p {
    font-size: 14px;
    line-height: 1.75;
    overflow-y: scroll;
    height: 200px;
}
figure figcaption button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.underline{
    height: 2px;
    width: 100%;
    background: var(--primary-clr);
    margin-bottom: 1rem;
}

/*responsive*/
@media(max-width: 1020px){
  #hero{
    position: initial;
    grid-template-columns: 1fr;
    background: rgba(0, 0, 0, 0.85);
  }
  .about-card{
    grid-template-columns: 1fr;
  }
  #kv{
      font-size: 2.5rem;
  }
  #kv-sub{
      color: var(--yellow-second-shade);
      font-size: 1rem;
      font-weight: 600;
  }
  .hero{
      text-align: center;
  }
  .left-hero{
      display: none;
    }
  .right-hero{
      font-size: 1.5rem;
  }
  .section-flex{
      flex-direction: column;
  }
  .carousel-indicators{
      bottom: 0;
  }
  .navbar-nav{
    /* background: var(--black-clr); */
    background-color: #181818;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    padding-top: 55px;
    z-index: 50;
   }
   .nav-link{
       margin: 1rem 0;
       text-align: center;
   }
}

@media (max-width: 1300px) {
    .carousel-img{
        top: 0;
    }

}


/* footer section starts here  */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.first h4::before{
    display: none;
}

.footer{
	background-color: #181818;
    padding: 70px 0;
    padding-bottom: 0;
    line-height: 2;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--primary-clr);
	height: 2px;
	box-sizing: border-box;
	width: 100%;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a,.footer-col p{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ababab;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
}

.social-links{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.3);
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

#lstFooter{
    background: #363636;
    padding: 0 3rem;
    justify-content: space-between;
    line-height: 3;
    align-items: center;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media screen and (max-width: 800px){
#lstFooter{
    flex-direction: column;
}
}
/* footer section ends here  */